*  {
    margin: 0;
} 


header {
    width: 100%;
    background-color: darkblue;
    height: 75px;
    display: flex;
    
}


header .naslov {
    color: white;
    margin: 20px 20px;
}

header .link {
    width: 500px;
    margin: 27px 420px;    
    align-items: center;
}




header a {
    color: white;
    text-decoration: none;
    margin: 20px;
    text-align: center;
}

button {
    width: 90px;
    height: 50px;
    margin: 10px -400px;
    color: black;
    background-color: white;
    border-radius: 27%;
    border: none;

}

.main {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

.containers {
    width: 50%;
    display: flex;
    margin: 100px 400px;
    align-items: center;
    gap: 30px;
}


.box:nth-of-type(1){
    width: 350px;
    height: 125px;
    background-color: rgb(164, 163, 163);
    text-align: center;
}



.box:nth-of-type(2){
    width: 350px;
    height: 125px;
    background-color: rgb(164, 163, 163);
    text-align: center;
}

.box:nth-of-type(3){
    width: 350px;
    height: 125px;
    background-color: rgb(164, 163, 163);
    text-align: center;
}


@media   (max-width: 500px){
    header {
        width: 100%;
        background-color: darkblue;
        height: 75px;
        display: flex;
        
    }
    
    
    header .naslov {
        color: white;
        margin: 20px 20px;
    }
    
    header .link {
        width: 500px;
        margin: 27px 420px;    
        align-items: center;
    }
    
    
    
    
    header a {
        color: white;
        text-decoration: none;
        margin: 20px;
        text-align: center;
    }
    
    button {
        width: 90px;
        height: 50px;
        margin: 10px -400px;
        color: black;
        background-color: white;
        border-radius: 45%;
        border: none;
    
    }
    
}


 