* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.parent {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    background-color: rgb(70, 70, 106);
}   

.child {
    width: 150px;
    height: 150px;
    background-color: #a53a2a;
    /* definisemo ponasanje nase animacije:  */
    /*      property  duration   timing  function          delay */
    /*       svojstvo  trajanje   funkcija za izvrsavanje   odlaganje*/
    transition: transform 1.5s cubic-bezier(0.48, -0.48, 1, 1.61);
    /* transition-property: transfrom;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.48, -0.48, 1, 1.61);
    transition-delay: 1s; */
}

.parent:hover .child {
    transform: translateY(250px);
}
















